.textoCliente {
	font-size: 25px;
}

#textoCliente {
	font-size: 25px;
}

#box-bg {
		 Absolutely position it, but stretch it to all four corners, then put it just behind #search's z-index /
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		z-index: 99;

		/ Pull the background 70px higher to the same place as #bg's /
		background-position: center -70px;

		-webkit-filter: blur(10px);
		filter: url('/media/blur.svg#blur');
		filter: blur(10px);
	}
	#box {
		/ Put this on top of the blurred layer /
		position: relative;
		z-index: 100;
		padding: 20px;
		background: rgb(34,34,34); / for IE 
		background: rgba(34,34,34,0.75);
	}